@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;600&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
}

.signupbox {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: saturate(180%) blur(10px);
}

::-webkit-scrollbar {
  width: 12px;
}

/* Track */
::-webkit-scrollbar-track {
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3); */
  -webkit-border-radius: 10px;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #01b5c5;
  /* -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); */
}
::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(178, 240, 246, 0.8);
}
